<div id="data-grid-demo">
  <h2 class="screen-title">Locations</h2>
  <dx-data-grid id="gridContainer"
                [dataSource]="locationsList"
                keyExpr="id"
                [showBorders]="false"
                [showColumnLines]="false"
                [showRowLines]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                [rowAlternationEnabled]="false"
                [remoteOperations]="true"
                [repaintChangesOnly]="true"
                [errorRowEnabled]="false"
                searchMode="contains"
                (onExporting)="onExporting($event)">
    <!--<dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>-->
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true"
               [allowedPageSizes]="allowedPageSizes"
               [showPageSizeSelector]="true"
               [showInfo]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="popup"
                 [allowUpdating]="true"
                 [allowAdding]="true"
                 [allowDeleting]="true"
                 [useIcons]="true">
      <dxo-popup title="Location Info"
                 [showTitle]="true"
                 [width]="550"
                 [height]="500">

      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="name" caption="Name">
            <dxi-validation-rule type="required" message="Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="country" caption="Country">
            <dxi-validation-rule type="required" message="country is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="city" caption="City">
            <dxi-validation-rule type="required" message="City is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="longitude" caption="Longitude">
            <dxi-validation-rule type="required" message="Longitude is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="latitude" caption="Latitude">
            <dxi-validation-rule type="required" message="Latitude is required">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="name" caption="Name" alignment="left"></dxi-column>
    <dxi-column dataField="country" Caption="Country" alignment="left"></dxi-column>
    <dxi-column dataField="city" caption="City" alignment="left"></dxi-column>
    <dxi-column dataField="longitude" caption="Longitude" alignment="left"> </dxi-column>
    <dxi-column dataField="latitude" caption="latitude" alignment="left"> </dxi-column>
    <dxo-export [enabled]="true" [allowExportSelectedData]="false"></dxo-export>

  </dx-data-grid>
</div>
