.start-container{
    width:100vw !important;
}
::ng-deep .demo-container {
  overflow: visible;
}

::ng-deep .flex-container {
  display: flex;
  flex-direction: column;
}

::ng-deep .dx-drawer-content {
  display: flex;
}

::ng-deep #toolbar {
  /*box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.08);*/
  padding: 5px 10px;
  /*z-index: 10000;*/
  height: 45px !important;
  width: 100%;
  margin-left: auto;
}



.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .options-container {
  display: flex;
  align-items: center;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
  display: inline-block;
  margin-right: 50px;
}

::ng-deep label {
  font-weight: bold;
}

::ng-deep #content {
  padding: 0 24px;
}

  ::ng-deep #content h2 {
    font-size: 26px;
  }
  /*START-SIDEBAR*/
/*::ng-deep .dx-scrollable-wrapper {
  background-color: white; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease;
}*/

::ng-deep .dx-item.dx-list-item{
    padding:7px 4px;
}
.start-container {
}
.app-layout--main-article {
  background-color: #fff !important;
  margin:40px 24px 40px 24px;
  padding: 25px;
  border-radius: 24px;
}
::ng-deep .dx-drawer-content {
  background-color: #F5F7FA !important;
}
/*::ng-deep .dx-drawer-panel-content {
  width: 300px !important;
}*/
 ::ng-deep #toolbar .dx-toolbar-items-container {
    height:100%!important;
}
::ng-deep .dx-item-content.dx-list-item-content {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .dx-icon-menu{
    font-size:22px!important;
}



::ng-deep .dx-item.dx-list-item.dx-state-active {
  background: #fff !important;
  color: #f15b27 !important;
}
::ng-deep .dx-item.dx-list-item.dx-state-focused {
  background: #fff !important;
  color: #f15b27 !important;
  border-left: 4px solid #f15b27;
 
}
  ::ng-deep .dx-item.dx-list-item.dx-state-focused .dx-icon.dx-list-item-icon {
    filter: invert(26%) sepia(89%) saturate(1813%) hue-rotate(347deg) brightness(97%) contrast(91%) !important;
  }




/**/
::ng-deep .dx-item.dx-list-item{
    color:#5A5A5A;
}

.logo {
  height: 95px;
  margin-top: 1.5rem;

}

::ng-deep .dx-icon.dx-list-item-icon:hover {
  filter: invert(26%) sepia(89%) saturate(1813%) hue-rotate(347deg) brightness(97%) contrast(91%) !important;
}
::ng-deep .dx-item.dx-list-item {
  border-top: none !important;
}
