
<div class="flex-container" *ngIf="canAccessMainLayout">

  <dx-drawer [openedStateMode]="selectedOpenMode"
             [position]="selectedPosition"
             [revealMode]="selectedRevealMode"
             template="template"
             [(opened)]="isDrawerOpen"
             [height]="'100vh'"
             [width]="'100%'"
             [closeOnOutsideClick]="true"
             [visible]="canAccessMainLayout">
    <div *dxTemplate="let data of 'template'" style="width: 200px">
      <div class="logo-container" style="text-align: center; margin-bottom: 20px;">

        <img src="/assets/img/EP-Logo.svg" alt="Logo" class="logo">

      </div>
      <dx-list class="panel-list"
               [dataSource]="navigation"
               [hoverStateEnabled]="true"
               [activeStateEnabled]="true"
               [focusStateEnabled]="true"
               (onItemClick)="navigateTo($event.itemData.text.toLowerCase())">
        <div *dxTemplate="let item of navigation">
          <div class="item-content">

            <img [src]="item.icon" alt="{{ item.text }} icon" style="height: 24px; width: 24px; margin-right: 8px;">

            {{ item.text }}

          </div>
        </div>
      </dx-list>
    </div>
    <div class=" start-container">
      <dx-toolbar [items]="toolbarContent" id="toolbar" class="toolbar-header"></dx-toolbar>

      <section>
        <article class="app-layout--main-article">
          <app-content class="">

          </app-content>
        </article>
      </section>
      <app-footer></app-footer>


    </div>

  </dx-drawer>
</div>
<!--<app-login *ngIf="!canAccessMainLayout" [canAccessMainLayout]="canAccessMainLayout"
           (loginSuccess)="onLoginSuccess()"></app-login>-->
<app-login *ngIf="!canAccessMainLayout" [canAccessMainLayout]="canAccessMainLayout"
          (loginClicked)="onLoginClicked()"></app-login>
