
<div class="flex-container"  *ngIf="canAccessMainLayout">
  <dx-toolbar [items]="toolbarContent" id="toolbar" class="toolbar-header" [visible]="canAccessMainLayout"></dx-toolbar>
  <dx-drawer [openedStateMode]="selectedOpenMode"
             [position]="selectedPosition"
             [revealMode]="selectedRevealMode"
             template="template"
             [(opened)]="isDrawerOpen"
             [height]="'100vh'"
             [width]="'100%'"
             [closeOnOutsideClick]="true"
             [visible]="canAccessMainLayout">
    <div *dxTemplate="let data of 'template'" style="width: 200px">
      <dx-list class="panel-list"
               [dataSource]="navigation"
               [hoverStateEnabled]="true"
               [activeStateEnabled]="true"
               [focusStateEnabled]="true"
               (onItemClick)="navigateTo($event.itemData.text.toLowerCase())">
        <div *dxTemplate="let item of navigation">
          <div class="item-content">
            <i class="dx-icon dx-icon-{{item.icon}}"></i>
            {{ item.text }}
          </div>
        </div>
      </dx-list>
    </div>
    <div class=" start-container mx-5">
      <!--<app-header></app-header>-->
      <section>
        <article class="app-layout--main-article">
          <app-content class="">

          </app-content>
        </article>
      </section>
    </div>
  </dx-drawer>
<app-footer></app-footer>
</div>
<app-login *ngIf="!canAccessMainLayout" [canAccessMainLayout]="canAccessMainLayout"></app-login>
