<div id="data-grid-demo">
  <h2 class="screen-title">Tickets</h2>

  <div *ngIf="shiftId !== null" class="mb-3">
    <h5 class="tickets-count mb-5">Total Tickets: <span>{{ totalTicketsCount }}</span></h5>
  </div>

  <!-- Filter Controls -->
  <div class="filter-section" >
    <dx-form id="filterForm" [formData]="filterData" (onFieldDataChanged)="applyFilters()">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
        <dxi-item dataField="fromDateTime" caption="Start Date" editorType="dxDateBox"
                  [editorOptions]="{ width: '100%' }" [label]="{ text: 'Start date' }"></dxi-item>
        <dxi-item dataField="toDateTime" caption="End Date" editorType="dxDateBox" [editorOptions]="{ width: '100%' }"
                  [label]="{ text: 'End date' }"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" cssClass="form-group" [colCount]="3">
        <dxi-item dataField="locationId" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: locationsList,
                    valueExpr: 'id',
                    displayExpr: 'name',
                    placeholder: 'Select'
                  }" [label]="{ text: 'Location name' }">
        </dxi-item>
        <dxi-item dataField="createUserId" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: usersList,
                    valueExpr: 'id',
                    displayExpr: 'userName',
                    placeholder: 'Select'
                  }" [label]="{ text: 'Cashier started the shift' }"></dxi-item>
        <dxi-item dataField="closeUserId" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: usersList,
                    valueExpr: 'id',
                    displayExpr: 'userName',
                    placeholder: 'Select'
                  }" [label]="{ text: 'Cashier closed the shift' }"></dxi-item>
      </dxi-item>
    </dx-form>
  </div>


  <dx-data-grid id="gridContainer" [dataSource]="ticketsList" keyExpr="id" [showBorders]="false"
                [showColumnLines]="false" [showRowLines]="true"
                [rowAlternationEnabled]="false"
                [remoteOperations]="true" [repaintChangesOnly]="true" [errorRowEnabled]="false" searchMode="contains">
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [showPageSizeSelector]="true" [showInfo]="true"
               [showNavigationButtons]="true">
    </dxo-pager>

    <dxo-editing mode="popup" [allowUpdating]="false" [allowAdding]="false" [allowDeleting]="false">
      <dxo-popup title="Ticket Info" [showTitle]="true" [width]="700" [height]="400">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="plateNumber"></dxi-item>
          <dxi-item dataField="phoneNumber"></dxi-item>
          <dxi-item dataField="entryDateTime"></dxi-item>
          <dxi-item dataField="exitDateTime"></dxi-item>
          <dxi-item dataField="clientType"></dxi-item>
          <dxi-item dataField="transactionType"></dxi-item>
          <dxi-item dataField="isPaid"></dxi-item>
          <dxi-item dataField="locationName"></dxi-item>
          <dxi-item dataField="totalAmount"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <!--<dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>-->

    <dxi-column dataField="createUserName" Caption="Create By" alignment="left" width="150"></dxi-column>
    <dxi-column dataField="closeUserName" Caption="Close By" alignment="left" width="150"></dxi-column>
    <dxi-column dataField="plateNumber" Caption="Plate Number" alignment="left" width="120"></dxi-column>
    <dxi-column dataField="phoneNumber" caption="Phone Number" alignment="left" width="130"></dxi-column>
    <dxi-column dataField="entryDateTime" caption="Entry date" dataType="date" alignment="left" width="120">
    </dxi-column>
    <dxi-column dataField="exitDateTime" caption="Exit date" dataType="date" alignment="left" width="120"> </dxi-column>
    <dxi-column dataField="clientTypeName" caption="Client type" alignment="left" width="100"> </dxi-column>
    <dxi-column dataField="transactionTypeName" caption="Transaction type" alignment="left" width="140"> </dxi-column>
    <dxi-column dataField="isPaid" caption="is paid" alignment="left" width="70"> </dxi-column>
    <dxi-column dataField="locationName" caption="Location Name" alignment="left" width="'auto'"> </dxi-column>
    <dxi-column dataField="totalAmount" caption="Total Amount" alignment="left" width="'auto'"> </dxi-column>

  </dx-data-grid>
</div>
