<div id="data-grid-demo">
  <h2 class="screen-title">Fares</h2>

  <dx-data-grid id="gridContainer"
                [dataSource]="faresList"
                keyExpr="id"
                [showBorders]="false"
                [showColumnLines]="false"
                [showRowLines]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                [rowAlternationEnabled]="false"
                [remoteOperations]="true"
                [repaintChangesOnly]="true"
                [errorRowEnabled]="false"
                searchMode="contains">
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true"
               [allowedPageSizes]="allowedPageSizes"
               [showPageSizeSelector]="true"
               [showInfo]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-editing mode="popup"
                 [allowUpdating]="true"
                 [allowAdding]="true"
                 [allowDeleting]="true"
                 [useIcons]="true"
                      >
      <dxo-popup title="Fare Info"
                 [showTitle]="true"
                 [width]="600"
                 [height]="600"
                  [hideOnOutsideClick]="true"
>
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="amount" caption="Amount"></dxi-item>
          <dxi-item dataField="fareType" caption="Fare type"></dxi-item>
          <dxi-item dataField="fareTypeName" caption="Fare type name"></dxi-item>
          <dxi-item dataField="enterGracePeriod" caption="Enter grace period"></dxi-item>
          <dxi-item dataField="exitGracePeriod" caption="Exit grace period"></dxi-item>
          <dxi-item dataField="maxLimit" caption="Max Limit"></dxi-item>
          <dxi-item dataField="locationId" caption="Location Id" editorType="dxSelectBox"
                    [editorOptions]="{
                        dataSource: locations,
                        valueExpr: 'id',
                        displayExpr: 'id'
                      }">
          </dxi-item>
          <dxi-item dataField="locationName" caption="Location Name">
          </dxi-item>

        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="amount" caption="Amount" alignment="left"></dxi-column>
    <dxi-column dataField="fareType" caption="Fare type" alignment="left"></dxi-column>
    <dxi-column dataField="fareTypeName" caption="Fare type name" alignment="left"></dxi-column>
    <dxi-column dataField="enterGracePeriod" caption="Enter grace period" alignment="left"> </dxi-column>
    <dxi-column dataField="exitGracePeriod" caption="Exit grace period" alignment="left"> </dxi-column>
    <dxi-column dataField="maxLimit" caption="Max Limit" alignment="left"> </dxi-column>
    <dxi-column dataField="locationId" caption="Location Id" alignment="left"> </dxi-column>
    <dxi-column dataField="locationName" caption="Location name" alignment="left"> </dxi-column>
  </dx-data-grid>
</div>
