<p-dialog [(visible)]="fareDialog" [style]="{ width: '450px' }" header="Fare Details" [modal]="true"
    (onHide)="hideDialog()">
    <ng-template #content>
        <div *ngFor="let field of fields">
            <div *ngIf="field.visible !== false" class="flex flex-col gap-6">
                <label [for]="field.key" class="block font-bold mb-3">{{ field.label }}</label>

                <input *ngIf="field.type === 'text'" type="text" pInputText [id]="field.key"
                    [(ngModel)]="fare[field.key]" [required]="field.required!" [placeholder]="field.placeholder"
                    fluid />

                <input *ngIf="field.type === 'number'" type="number" pInputText [id]="field.key"
                    [(ngModel)]="fare[field.key]" [required]="field.required!" [placeholder]="field.placeholder"
                    fluid />

                <p-select *ngIf="field.type === 'select'" [(ngModel)]="fare[field.key]" [inputId]="field.key"
                    [options]="field.options" [optionLabel]="field.labelField || 'label'"
                    (onChange)="field.onChange($event)" [optionValue]="field.valueField || 'value'"
                    [placeholder]="field.placeholder" appendTo="body" fluid />

                <p-autocomplete *ngIf="field.type === 'autocomplete'" [dropdown]="true" [(ngModel)]="selectedLocation"
                    [inputId]="field.key" [suggestions]="field.options!" [field]="field.labelField || 'label'"
                    [placeholder]="field.placeholder" (completeMethod)="field.completeMethod($event, field)"
                    (onSelect)="field.onSelect($event, field)" appendTo="body" fluid />

                <small class="text-red-500" *ngIf="submitted && field.required && !fare[field.key]">
                    {{ field.label }} is required.
                </small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveFare(fare.id)" />
    </ng-template>
</p-dialog>