<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedLocations()"
                [disabled]="!selectedLocations || !selectedLocations.length" />
        </ng-template>

        <ng-template #end>
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto
                customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>

    <p-table #locationsDataTable [value]="locations" [rows]="pageSize" [paginator]="true"
        [rowsPerPageOptions]="rowsPerPageOptions" [totalRecords]="locations ? locations.length : 0" [loading]="loading"
        [(selection)]="selectedLocations" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        (onPageChange)="loadData($event)">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage Locations</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="filterTable($event)" placeholder="Search..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="name">
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="country">
                    Country
                    <p-sortIcon field="country" />
                </th>
                <th pSortableColumn="city">
                    City
                    <p-sortIcon field="city" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-location>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="location" />
                </td>
                <td>{{ location.name }}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.city }}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-5" [rounded]="true" [outlined]="true"
                        (click)="editLocations(location.id)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (click)="deleteLocation(location.id)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between">In total there are {{ locations ? locations.length : 0 }}
                locations.</div>
        </ng-template>
    </p-table>

    <app-edit-location [locationDialog]="locationDialog" [fields]="fieldConfigs" [locations]="locations"
        [location]="location" (locationsChanged)="refreshLocations($event)"
        (locationDialogChanged)="hideDialog($event)" />
    <p-confirmDialog [style]="{ width: '450px' }" />
</div>