<div id="data-grid-demo">
  <h2 class="screen-title">Users</h2>

  <dx-data-grid id="gridContainer"
                [dataSource]="usersList"
                keyExpr="id"
                [showBorders]="false"
                [showColumnLines]="false"
                [showRowLines]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                [rowAlternationEnabled]="false"
                [remoteOperations]="true"
                [repaintChangesOnly]="true"
                [errorRowEnabled]="false"
                searchMode="contains">
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true"
               [allowedPageSizes]="allowedPageSizes"
               [showPageSizeSelector]="true"
               [showInfo]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="popup"
                 [allowUpdating]="true"
                 [allowAdding]="true"
                 [allowDeleting]="true"
                 [useIcons]="true"
                     >
      <dxo-popup title="User Info"
                 [showTitle]="true"
                 [width]="700"
                 [height]="550">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="userName" caption="User Name">
            <dxi-validation-rule type="required" message="Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="email" Caption="Email">
            <dxi-validation-rule type="required" message="Email is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="password" Caption="Password" mode="password">
            <dxi-validation-rule type="required" message="Password is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="phoneNumber" caption="Phone Number">
            <dxi-validation-rule type="required" message="Phone Number is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="locationId" caption="Location Id">
            <dxi-validation-rule type="required" message="Location Id">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="locationName" caption="Location Name">
            <dxi-validation-rule type="required" message="Location Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="roleId" caption="Role Id" editorType="dxSelectBox"
                    [editorOptions]="{
                                                               dataSource: rolesList,
                                                               valueExpr: 'id',
                                                               displayExpr: 'id'}">
            <dxi-validation-rule type="required" message="Role Id is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="roleName" caption="Role Name" editorType="dxSelectBox"
                    [editorOptions]="{
                                                               dataSource: rolesList,
                                                               valueExpr: 'id',
                                                               displayExpr: 'name'}">
            <dxi-validation-rule type="required" message="Role Name is required">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="userName" caption="User Name" alignment="left"></dxi-column>
    <dxi-column dataField="email" Caption="Email" alignment="left" width="auto"></dxi-column>
    <dxi-column dataField="password" Caption="Password" alignment="left" width="auto" [visible]="false"></dxi-column>
    <dxi-column dataField="phoneNumber" caption="Phone Number" alignment="left"></dxi-column>
    <dxi-column dataField="locationId" caption="Location Id" alignment="left"> </dxi-column>
    <dxi-column dataField="locationName" caption="Location Name" alignment="left"> </dxi-column>
    <dxi-column dataField="roleId" caption="Role Id" alignment="left" width="auto"> </dxi-column>
    <dxi-column dataField="roleName" caption="Role Name" alignment="left"> </dxi-column>
  </dx-data-grid>
</div>
