<div id="data-grid-demo">
  <h2 class="screen-title">Users</h2>

  <dx-data-grid id="gridContainer" [dataSource]="usersList" keyExpr="id" [showBorders]="false" [showColumnLines]="false"
    [showRowLines]="true" (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
    (onRowRemoving)="onRowRemoving($event)" [rowAlternationEnabled]="false" [remoteOperations]="true"
    [repaintChangesOnly]="true" [errorRowEnabled]="false" searchMode="contains">
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [showPageSizeSelector]="true" [showInfo]="true"
      [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true" [useIcons]="true">
      <dxo-popup title="User Info" [showTitle]="true" [width]="700" [height]="570">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="userName" caption="User Name">
            <dxi-validation-rule type="required" message="Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="email" Caption="Email" type="email">
            <dxi-validation-rule type="required" message="Email is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="password" Caption="Password" mode="password">
              <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
              <dxi-validation-rule type="pattern"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                   message="Password must be at least 8 characters long, contain at least one digit, one uppercase letter, one lowercase letter, and one special character.">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="phoneNumber" caption="Phone Number">
            <dxi-validation-rule type="required" message="Phone Number is required">
            </dxi-validation-rule>

          </dxi-item>

          <dxi-item dataField="locationId" editorType="dxSelectBox" [editorOptions]="{
            dataSource: locations,
            valueExpr: 'id',
            displayExpr: 'name',
            value:locationId
           }" [label]="{ text: 'Location Name' }">
            <dxi-validation-rule type="required" message="Location Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="roleId" caption="Role Name" editorType="dxSelectBox" [editorOptions]="{
                                                               dataSource: rolesList,
                                                               valueExpr: 'id',
                                                               displayExpr: 'name',
                                                               value:roleId}" [label]="{ text: 'Role Name' }">
            <dxi-validation-rule type="required" message="Role Name is required">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="userName" caption="User Name" alignment="left"></dxi-column>
    <dxi-column dataField="email" Caption="Email" alignment="left" width="auto"></dxi-column>
    <dxi-column dataField="password" Caption="Password" alignment="left" width="auto" [visible]="false"></dxi-column>
    <dxi-column dataField="phoneNumber" caption="Phone Number" alignment="left"></dxi-column>
    <dxi-column [visible]="false" dataField="locationId" caption="Location Name" alignment="left"> </dxi-column>
    <dxi-column dataField="locationName" caption="Location Name" alignment="left"> </dxi-column>
    <dxi-column [visible]="false" dataField="roleId" caption="Role Name" alignment="left"> </dxi-column>
    <dxi-column dataField="roleName" caption="Role Name" alignment="left"> </dxi-column>
  </dx-data-grid>
</div>
