<div class="wrapper fadeInDown" *ngIf="!showResetPasswordForm">
  <div id="formContent">


    <!-- LOGO -->
    <div class="fadeIn first logo-container">
      <img src="/assets/img/EP-Logo.svg" id="logo" alt="logo" />
    </div>
    <h2 class="active login-text"> Sign In </h2>
    <!-- Login Form -->
    <form #loginForm="ngForm"  class="form" (ngSubmit)="onLogin()">
      <div class="form-inputs">
        <label>User Name</label>
        <input type="text" id="userName" class="fadeIn second" [(ngModel)]="loginModel.username" name="username" required>
        <div *ngIf="loginForm.submitted && !loginModel.username" class="error-message">
          User Name is required.
        </div>
      </div>
      <div class="form-inputs">
        <label>Password</label>
        <input type="password" id="password" class="fadeIn third" [(ngModel)]="loginModel.password" name="password" required>
        <div *ngIf="loginForm.submitted && !loginModel.password" class="error-message">
          Password is required.
        </div>
      </div>
      <div class="submit-inputs">

        <button type="submit" class="fadeIn fourth submit-btn" [disabled]="loading">

          <ng-container *ngIf="loading; else loginText">

            <span class="loader">Loading...</span> 

          </ng-container>

          <ng-template #loginText>Log In</ng-template>

        </button>

      </div>

    </form>

    <!-- Remind Passowrd -->
    <!--<div id="formFooter">
    <a class="underlineHover" href="#" onclick="navigate()"><span class="span">Don't have account?</span> Sign in</a>
  </div>-->

  </div>
</div>

  

<!--RESETPASSWORD-->


<div class="wrapper fadeInDown"*ngIf="showResetPasswordForm">
  <div id="formContent">


    <!-- LOGO -->
    <div class="fadeIn first logo-container">
      <img src="/assets/img/EP-Logo.svg" id="logo" alt="logo" />
    </div>
    <h2 class="active login-text">Reset Your Paassowrd</h2>
    <!-- Reset Password Form -->
    <form class="form" (ngSubmit)="onResetPassword()">
      <div class="form-inputs">
        <label>User Name</label>
        <input type="text" id="userName" class="fadeIn second" [(ngModel)]="resetModel.userName" name="username" required>
      </div>
      <div class="form-inputs">
        <label>Old Password</label>
        <input type="text" id="password" class="fadeIn third" [(ngModel)]="resetModel.oldPassword" name="oldPassword">
      </div>
      <div class="form-inputs">
        <label>New Password</label>
        <input type="text" id="password" class="fadeIn third" [(ngModel)]="resetModel.newPassword" name="newPassword" required>
      </div>
      <div class="submit-inputs">
        <input type="submit" class="fadeIn fourth" value="Submit">
      </div>

    </form>


  </div>
</div>
