<div id="data-grid-demo">
  <h2 class="screen-title">Shifts</h2>
  <dx-data-grid id="gridContainer"
                [dataSource]="shiftsList"
                keyExpr="id"
                [showBorders]="false"
                [showColumnLines]="false"
                [showRowLines]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                [rowAlternationEnabled]="false"
                [remoteOperations]="true"
                [repaintChangesOnly]="true"
                [errorRowEnabled]="false"
                searchMode="contains">
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager [visible]="true"
               [allowedPageSizes]="allowedPageSizes"
               [showPageSizeSelector]="true"
               [showInfo]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="popup"
                 [allowUpdating]="true"
                 [allowAdding]="true"
                 [allowDeleting]="true"
                 [useIcons]="true">
      <dxo-popup title="Shift Info"
                 [showTitle]="true"
                 [width]="550"
                 [height]="500">

      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="userName" caption="Name">
          </dxi-item>
          <dxi-item dataField="locationName" caption="location name">
          </dxi-item>
          <dxi-item dataField="totalGuests" caption="Guests">
          </dxi-item>
          <dxi-item  dataField="totalVisitors" caption="Vistors">
          </dxi-item>
          <dxi-item  dataField="startDateTime" caption="start time">
          </dxi-item>
          <dxi-item dataField="endDateTime"  caption="end time">
           
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="userName" caption="Name" alignment="left"></dxi-column>
    <dxi-column dataField="locationName" Caption="location name" alignment="left"></dxi-column>
    <dxi-column dataField="totalGuests" caption="Guests" alignment="left"></dxi-column>
    <dxi-column dataField="startDateTime" caption="start time" alignment="left"> </dxi-column>
    <dxi-column dataField="endDateTime" caption="end time" alignment="left"> </dxi-column>
    <dxi-column dataField="totalVisitors" caption="Vestors" alignment="left"> </dxi-column>
  </dx-data-grid>
</div>
