<div id="data-grid-demo">
  <h2 class="screen-title">Shifts</h2>


  <!-- Filter Controls -->
  <div class="filter-section">
    <dx-form id="filterForm" [formData]="filterData" (onFieldDataChanged)="applyFilters()">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
        <dxi-item dataField="fromDateTime" caption="Start Date" editorType="dxDateBox"
                  [editorOptions]="{ width: '100%' }"
                  [label]="{ text: 'Start date' }"></dxi-item>
        <dxi-item dataField="toDateTime" caption="End Date" editorType="dxDateBox"
                  [editorOptions]="{ width: '100%' }"
                  [label]="{ text: 'End date' }"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" cssClass="form-group" [colCount]="3">
        <dxi-item dataField="locationId" editorType="dxSelectBox"
                  [editorOptions]="{
                    dataSource: locationsList,
                    valueExpr: 'id',
                    displayExpr: 'name',
                    placeholder: 'Select'
                  }"
                  [label]="{ text: 'Location name' }">
        </dxi-item>
        <dxi-item dataField="createUser Id" editorType="dxSelectBox"
                  [editorOptions]="{
                    dataSource: usersList,
                    valueExpr: 'id',
                    displayExpr: 'userName',
                    placeholder: 'Select'
                  }"
                  [label]="{ text: 'Cashier started the shift' }"></dxi-item>
        <dxi-item dataField="closeUser Id" editorType="dxSelectBox"
                  [editorOptions]="{
                    dataSource: usersList,
                    valueExpr: 'id',
                    displayExpr: 'userName',
                    placeholder: 'Select'
                  }"
                  [label]="{ text: 'Cashier closed the shift' }"></dxi-item>
      </dxi-item>
    </dx-form>
  </div>

  <!-- Data Grid -->
  <div class="dx-viewport">
    <dx-data-grid id="gridContainer"
                  [dataSource]="shiftsList"
                  keyExpr="id"
                  [showBorders]="false"
                  [showColumnLines]="false"
                  [showRowLines]="true"
                  (onRowInserting)="onRowInserting($event)"
                  (onRowUpdating)="onRowUpdating($event)"
                  (onRowRemoving)="onRowRemoving($event)"
                  [rowAlternationEnabled]="false"
                  [remoteOperations]="true"
                  [repaintChangesOnly]="true"
                  [errorRowEnabled]="false">
      <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
      <dxo-pager [visible]="true"
                 [allowedPageSizes]="allowedPageSizes"
                 [showPageSizeSelector]="true"
                 [showInfo]="true"
                 [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-editing mode="popup"
                   [allowUpdating]="false"
                   [allowAdding]="false"
                   [allowDeleting]="false"
                   [useIcons]="true">
        <dxo-popup title="Shift Info"
                   [showTitle]="true"
                   [width]="550"
                   [height]="500">
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="userName" caption="user name"></dxi-item>
            <dxi-item dataField="totalGuests" caption="Guests"></dxi-item>
            <dxi-item dataField="totalVisitors" caption="Visitors"></dxi-item>
            <dxi-item dataField="startDateTime"
                      [editorOptions]="{ width: '100%'}"
                      [label]="{ text: 'Start date' }"></dxi-item>
            <dxi-item dataField="endDateTime"
                      [editorOptions]="{ width: '100%'}"
                      [label]="{ text: 'End date' }"></dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>

      <dxi-column [visible]="false" dataField="id"></dxi-column>
      <dxi-column dataField="cashierUserName" caption="Cashier" alignment="left"></dxi-column>
      <dxi-column dataField="locationName" caption="Location Name" alignment="left"></dxi-column>
      <dxi-column dataField="totalGuests" caption="Guests" alignment="left" width="120"></dxi-column>
      <dxi-column dataField="startDateTime" dataType="date" caption="Start Date" alignment="left"></dxi-column>
      <dxi-column dataField="endDateTime" dataType="date" caption="End Date" alignment="left"></dxi-column>
      <dxi-column dataField="totalVisitors" caption="Visitors" alignment="left"  width="120"></dxi-column>
      <dxi-column dataField="totalCashCaculated" caption="Total Cash" alignment="left"></dxi-column>
      <dxi-column dataField="totalCreditCaculated" caption="Total Credit" alignment="left"></dxi-column>
      <dxi-column dataField="status" caption="Status" alignment="left" cellTemplate="statusTemplate"></dxi-column>
      <dxi-column caption="Review Shift" alignment="left" cellTemplate="viewButtonTemplate"></dxi-column>
      <div *dxTemplate="let data of 'viewButtonTemplate'">
        <dx-button (stylingMode)="data.data.status === 3 ? 'outlined' : 'default'"
                   [text]="data.data.status === 3 ? 'Preview Shift' : 'Confirm shift'"
                   type="normal"
                   (onClick)="data.data.status === 3 ? openPreviewPopup(data) : openViewPopup(data)">

        </dx-button>
      </div>
      <div *dxTemplate="let data of 'statusTemplate'">
        <div class="order-status" *ngIf="data.value === 1 ">
        <span class="status-shape open"></span>
        <span class="status-value  open-text" > Open </span>
        </div>
        <div class="order-status" *ngIf="data.value === 2 ">
          <span class="status-shape closed"></span>
          <span class="status-value closed-text" > Closed by Cashier </span>
        </div>
        <div class="order-status" *ngIf="data.value === 3 ">
          <span class="status-shape confirmed"></span>
          <span class="status-value confirmed-text " > Confirmed </span>
        </div>
      </div>
    </dx-data-grid>

    <!--CLOSE SHIFT POPUP-->

    <dx-popup [(visible)]="viewPopupVisible" [width]="550" [height]="400" [showCloseButton]="true" [title]="'Confirm Shift'">
      <dxi-toolbar-item widget="dxButton"
                        toolbar="bottom"
                        location="after"
                        class="col-12">
        <dx-button stylingMode="contained"
                   type="default"
                   (onClick)="saveShift()"
                   class="p-3">
          Confirm
        </dx-button>
        <dx-button stylingMode="contained"
                   type="default"
                   (onClick)="cancel()"
                   class="p-3">
          Cancel
        </dx-button>
      </dxi-toolbar-item>
      <dx-form [formData]="viewFormData">
        <dxi-item [visible]="false" dataField="id"></dxi-item>
        <dxi-item dataField="totalCash" label="Total Cash"></dxi-item>
        <dxi-item dataField="totalCredit" label="Total Credit"></dxi-item>
        <dxi-item dataField="endDateTime" label="End Date" editorType="dxDateBox"></dxi-item>
      </dx-form>
    </dx-popup>


    <!--PREVIEW POPUP-->
    <dx-popup [(visible)]="previewPopupVisible" [width]="850" [height]="600" [showCloseButton]="true" [title]="'Preview Shift'">
      <dx-form [formData]="previewFormData">
        <dxi-item itemType="group"
                  captionTemplate="Cashier"
                  caption="Cashier Data"
                  [colCount]="3">
          <dxi-item dataField="cashierUserName" label="Cashier" [disabled]="true"></dxi-item>
          <dxi-item dataField="startDateTime" label="Start Date" [disabled]="true"></dxi-item>
          <dxi-item dataField="endDateTime" label="End Date" [disabled]="true"></dxi-item>
          <dxi-item dataField="cashierTotalCash" label="Cashier Total Cash" [disabled]="true"></dxi-item>
          <dxi-item dataField="cashierTotalCredit" label="Cashier Total Credit" [disabled]="true"></dxi-item>
          <dxi-item dataField="cashierTotalCashDifference" label="Cashier Cash Difference" [disabled]="true"></dxi-item>
          <dxi-item dataField="cashierTotalCreditDifference" label="Cashier Credit Difference" [disabled]="true"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group"
                  captionTemplate="Accountant"
                  caption="Accountant Data"
                  [colCount]="2">
          <dxi-item dataField="accountantTotalCash" label="Accountant Total Cash" [disabled]="true"></dxi-item>
          <dxi-item dataField="accountantTotalCredit" label="Accountant Total Credit" [disabled]="true"></dxi-item>
          <dxi-item dataField="accountantTotalCashDifference" label="Accountant Cash Difference" [disabled]="true"></dxi-item>
          <dxi-item dataField="accountantTotalCreditDifference" label="Accountant Credit Difference" [disabled]="true"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group"
                  captionTemplate="Tickets"
                  caption="Tickets Count"
                  [colCount]="2">
          <dxi-item dataField="totalVisitors" label="Visitors Tickets" [disabled]="true"></dxi-item>
          <dxi-item dataField="totalGuests" label="Guests Tickets" [disabled]="true"></dxi-item>
        </dxi-item>
      </dx-form>
      <!-- Review Tickets Button -->
      <dxi-toolbar-item widget="dxButton" toolbar="top" location="after"  class="col-12">
        <dx-button icon="/assets/icons/tickets-white.svg"
                   text="View Shift Tickets"
                   (onClick)="previewShiftTickets(shiftId)"
                   class="mt-4">
        </dx-button>
      </dxi-toolbar-item>
    </dx-popup>
  </div>
</div>
