<div id="data-grid-demo">
  <h2 class="screen-title">Shifts</h2>
  <div class="buttons-header">

    <div class="export-reoprt-btn">
      <dx-select-box [(value)]="selectedFormat"
                     [dataSource]="exportFormats"
                     [placeholder]="'Export Report'"
                     (onValueChanged)="exportReport($event)">
      </dx-select-box>
    </div>
    <div class="filter-btn">
      <!--Start Filter Button & Popup-->
      <dx-button icon="filter"
                 (onClick)="showFilterPopup()">
      </dx-button>
    </div>

    </div>
    <div class="dx-viewport">
      <dx-popup [width]="600"
                [height]="500"
                [showTitle]="true"
                title="Shifts Filter"
                [dragEnabled]="false"
                [hideOnOutsideClick]="true"
                [showCloseButton]="true"
                container=".dx-viewport"
                [(visible)]="popupVisible"
               >

        <dxi-toolbar-item widget="dxButton"
                          toolbar="bottom"
                          location="after"
                          class="col-12">
          <dx-button stylingMode="contained"
                     type="default"
                     (onClick)="applyFilters()"
                     class="p-3">
            Search
          </dx-button>
          <dx-button stylingMode="contained"
                     type="default"
                     (onClick)="popupVisible = false"
                     class="p-3">
            Cancel
          </dx-button>
        </dxi-toolbar-item>

        <div *dxTemplate="let data of 'content'">

          <dx-form id="form" [formData]="filterData">

            <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
              <dxi-item dataField="fromDateTime" caption="Start Date" editorType="dxDateBox"
                        [editorOptions]="{ width: '100%', value:fromDateTime}"
                        [label]="{ text: 'Start date' }"></dxi-item>
              <dxi-item dataField="toDateTime" caption="End Date" editorType="dxDateBox"
                        [editorOptions]="{ width: '100%',value:toDateTime }"
                        [label]="{ text: 'End date' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" cssClass="form-group" [colCount]="1">

              <dxi-item dataField="locationId" editorType="dxSelectBox"
                        [editorOptions]="{
                                   dataSource: locationsList,
                                   valueExpr: 'id',
                                   displayExpr: 'name',
                                   value:locationId
                                  }"
                        [label]="{ text: 'Location name' }">
              </dxi-item>
              <dxi-item dataField="createUserId" editorType="dxSelectBox"
                        [editorOptions]="{
                        dataSource: usersList,
                        valueExpr: 'id',
                        displayExpr: 'userName',
                        value:createUserId,
                        placeholder: 'Select',
                      }"
                        [label]="{ text: 'Cashier started the shift' }"></dxi-item>

              <dxi-item dataField="closeUserId" editorType="dxSelectBox"
                        [editorOptions]="{
                        dataSource: usersList,
                        valueExpr: 'id',
                        displayExpr: 'userName',
                        value:closeUserId,
                        placeholder: 'Select',
                      }"
                        [label]="{ text: 'Cashier closed the shift' }"></dxi-item>
            </dxi-item>

          </dx-form>
        </div>
      </dx-popup>
    </div>
    <!--End Filter Button & Popup-->
    <!--Start Data Grid-->
    <dx-data-grid id="gridContainer"
                  [dataSource]="shiftsList"
                  keyExpr="id"
                  [showBorders]="false"
                  [showColumnLines]="false"
                  [showRowLines]="true"
                  (onRowInserting)="onRowInserting($event)"
                  (onRowUpdating)="onRowUpdating($event)"
                  (onRowRemoving)="onRowRemoving($event)"
                  [rowAlternationEnabled]="false"
                  [remoteOperations]="true"
                  [repaintChangesOnly]="true"
                  [errorRowEnabled]="false"
                  searchMode="contains"
                   (onExporting)="onExporting($event)">
      <!--<dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>-->
      <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
      <dxo-pager [visible]="true"
                 [allowedPageSizes]="allowedPageSizes"
                 [showPageSizeSelector]="true"
                 [showInfo]="true"
                 [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-editing mode="popup"
                   [allowUpdating]="true"
                   [allowAdding]="true"
                   [allowDeleting]="true"
                   [useIcons]="true">
        <dxo-popup title="Shift Info"
                   [showTitle]="true"
                   [width]="550"
                   [height]="500">

        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="userName" caption="user name">
            </dxi-item>

            <dxi-item dataField="totalGuests" caption="Guests">
            </dxi-item>
            <dxi-item dataField="totalVisitors" caption="Vistors">
            </dxi-item>
            <dxi-item dataField="startDateTime"
                      [editorOptions]="{ width: '100%'}"
                      [label]="{ text: 'Start date' }">
            </dxi-item>
            <dxi-item dataField="endDateTime"
                      [editorOptions]="{ width: '100%'}"
                      [label]="{ text: 'End date' }">
            </dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxi-column dataField="userName" caption="User Name" alignment="left"></dxi-column>
      <dxi-column dataField="locationName" Caption="location name" alignment="left"></dxi-column>
      <dxi-column dataField="totalGuests" caption="Guests" alignment="left"></dxi-column>
      <dxi-column dataField="startDateTime" dataType="date" caption="Start Date" alignment="left"> </dxi-column>
      <dxi-column dataField="endDateTime" dataType="date" caption="End Date" alignment="left"> </dxi-column>
      <dxi-column dataField="totalVisitors" caption="Vestors" alignment="left"> </dxi-column>
      <dxi-column dataField="status" caption=" " alignment="left" cellTemplate="closeShift"></dxi-column>


      <div *dxTemplate="let data of 'closeShift'">
        <dx-button (onClick)="closeShift(data)">Close</dx-button>
      </div>

      <dxo-export [enabled]="true" [allowExportSelectedData]="false"></dxo-export>

    </dx-data-grid>
  </div>
